html, body {
    margin:0px;
    height:100%;
  }

.logos {
    background-color: #1f2937 ;
    width: 35px;
    height: auto;
}

header, footer, .sec1 {
    background-color: #1f2937;
    color: #f9FAF8
}

.li {
   text-decoration: none;
   color :#f9FAF8;
   margin: 10px;
}

.dhead {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.hleft {
    padding: 7px;
    margin: 7px;
    margin-left: 40px;
}

.hright {
    display: flex;
    padding: 10px;
    margin: 10px;
    margin-top: 20px;
    margin-right: 40px;
}

footer {
    display: flex;
    justify-content: center;
}

.pfooter {
    padding: 20px;
}

/* this section for the Quot */

.sec4 {
    background-color: #E5E7Eb;
    padding: 30px;
    color: #1f2937;
    font-style: italic;
    font-size: 30px;
}

.psec4 {
    display: flex;
    justify-content: right;
    margin-right: 60px;
}

.qsec4 {
    text-align: center;
    margin: 40px;
}


/* this for sec1 */

.sec1 {
    display: flex;
    justify-content: center;
}

.textsec1 {
    margin: 40px;
    
}

.gif {
    margin: 40px;
    width: 290px;
    height: auto;
    border-radius: 33px;
}

button {
    background: #3882F6;
    border-color: #E5E7Eb;
    color: #E5E7Eb;
    border-radius: 10px;
}

/* this section for sec 2 & 5 */

.sec2, .sec5 {
    color: #1f2937;
}

h2 {
    text-align: center;
    margin-top: 40px;
}

.imgbox {
    display: flex;
    justify-content: center;
    align-content: space-around;
}

.img2 {
    width: 111px;
    height: 111px;
    border-radius: 3px;
    border-color: #3882F6;
}

.d2 {
    width: 111px;
    margin: 40px;
}

.p2 {
    text-align: center;
    font-size: 14px;
}

.sec5 {
    display: flex;
 justify-content: center;
}

.d5 {
 background-color: #3882F6;
 margin: 50px;
 padding: 20px;
 border-radius: 3px;
 display: flex;
 justify-content: center;
}

.t5 {
    color:#E5E7Eb;
    margin: 30px;
}

.bu5 {
    margin: 50px;
    padding: 20px;
}