.logos {
    background-color: #1f2937 ;
    width: 35px;
    height: auto;
}

header, footer, .sec1 {
    background-color: #1f2937;
    color: #f9FAF8
}

.li {
   text-decoration: none;
   color :#f9FAF8;
   margin: 10px;
}

.dhead {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.hleft {
    padding: 7px;
    margin: 7px;
}

.hright {
    display: flex;
    padding: 10px;
    margin: 10px;
    margin-top: 20px;
}

footer {
    display: flex;
    justify-content: center;
}

.pfooter {
    padding: 20px;
}